doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title テスト
    link(href='/static/css/material.min.css', rel='stylesheet')
    link(href='/static/css/common.css', rel='stylesheet')
  body
    main.main
      div(id='root')
        #main
          #header
            h1.sitettl TodoList on React Firebase
          #content

  script(type='text/javascript', src='/static/js/build.js')

