body {
}

#root {
}

#main {
  width: 75%;
  margin: 0 auto;
}

header {

  height:50px;
  padding-top:5px;
  background-color:#BD1E5B;

  .title {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 45px;
    width: 75%;
    margin: 0 auto;
  }

}

#content {
  margin: 5px;

  .Form {
    background-color: #f9f9f9;
    padding: 10px;

    .FormField {
      width: 100%;
    }

    .FormButton {
      margin: 0 auto;
    }
  }

  .List {
    background-color: #f9f9f9;
  }

}

.Snippet-captions {

  background-color: #fff;
  height: 48px;

  .Snippet-caption {
    font-size: 13px;
    padding: 24px;
    text-align: center;
  }

  .List {
    background-color: #f9f9f9;
  }

}
